.trainer-page {
    height: 80vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.trainer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
  }
  
  .trainer-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .question,
  .answer {
    margin-bottom: 20px;
  }
  
  .question label,
  .answer label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .dropdown-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
  }
  
  .dropdown-select:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    width: 97.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    resize: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
  }
  
  textarea:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .generic-button {
    width: 20% ;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .generic-button:hover {
    background-color: #333;
  }
  
/* Responsive Design */
@media (max-width: 768px) {
    .trainer-page {
      flex-direction: column;
      width: 95vw;
    }
  
    .trainer-container {
      margin: 10px;
      padding: 15px;
    }
  
    .trainer-container h1 {
      font-size: 20px;
    }

    .question label,
    .answer label {
      font-size: 16px;
    }
  
    .dropdown-select,
    textarea {
      font-size: 14px;
      padding: 8px;
    }
  
    button,
    .return-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .trainer-page {
      flex-direction: column;
      width: 95vw;
    }
    .trainer-container {
      margin: 5px;
      padding: 10px;
    }
  
    .trainer-container h1 {
      font-size: 18px;
    }
  
    .question label,
    .answer label {
      font-size: 14px;
    }
  
    .dropdown-select,
    textarea {
      font-size: 12px;
      padding: 6px;
    }
  
    .generic-button,
    .return-button {
      font-size: 12px;
      padding: 6px 12px;
    }
  }