.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 40px;
    padding: 20px; 
  }
  
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
      gap: 20px;
    }
  }